* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
  color: #004080;
}

.h {
    margin-top: -50px;
    margin-bottom: 20px;
}

.h a{
    margin-left: 80%;
    width: 10px;
    background-color: #004080;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.h a:hover {
    background-color: #ffcc00;
    color: #004080;
}

.locate-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.iframe{
  overflow: hidden;
}

.map-container {
  text-align: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container h2 {
  margin-bottom: 30px;
  color: #004080;
}

.hotel-gate {
  text-align: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotel-gate h2 {
  margin-bottom: 15px;
  color: #004080;
  font-size: 2rem;
}

.gate-image {
  max-width: 60%;
  height: 51%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.directions {
  text-align: left;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.directions h2 {
  margin-bottom: 15px;
  color: #004080;
}

.directions ul {
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

.directions ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 768px) {
  .map-container iframe {
    height: 250px;
  }
}